
body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

h1{
  color:#105f4d;
  font-weight: lighter;
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
  font-family: 'Sacramento', cursive;
  margin:50px auto 0 auto;
}

h2{
  color:#105f4d;
  font-weight: lighter;
  font-size: 20px;
  margin:10px auto 0 auto;
}

p{
  font-weight: lighter;
  font-size: 1.2em;
  font-family:serif;
  color:#4ab19a;
  line-height: 2;
}
.toppest{
  position: absolute;
  left: 100px;
}

.top-container{
  background-color: #e0ebe8;
  padding-top: 100px;
  position: relative;
}
.p-pic{
  border-radius: 100%;
}


.bottom-cloud{
  position: absolute;
  left:200px;
}

.top-cloud{
  position: absolute;
  right:200px;
  background-color:  #b8dbff;

}

.middle-container{
  position: relative;
}

.profile{
  margin: 100px auto 100px auto;
}

.intro{
  width:30%;
  margin: 10px auto 10px auto;
}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.design-img{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.develop-img{
  width: 25%;
  float:right;
  margin-left: 30px;
}
.contact{
  width:50%;
  margin:100px auto 100px auto;
}
.down-container{
  background-color:#e0ebe8;
  height: 150px;
  padding-top:50px;
}

.copy{
  font-size: 0.8em;
  padding-top: 40px;
}

.btn {
	background-color:#44c767;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}.btn:hover {
	background-color:#5cbf2a;
}.btn:active {
	position:relative;
	top:1px;
}
